form {
	width:70%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:80px;
}

.row1 {
	padding:5px;
    border-top:1px solid #F5F5F5;
    margin-top:20px;
    margin-bottom:15px;
}

.row2 {
	display:block;
	border-bottom:1px solid gray;
	padding-bottom:20px;
    margin-top:10px;
    margin-bottom:5px;
}

.label-input {
    width:200px;
    float:left;
    text-align:right;
    margin-right:20px;
    margin-top:5px;
}

.label-radio {
    margin-left:10px;
    margin-right:50px;
    margin-top:0px;
    vertical-align: baseline;
}

form legend {
    color: #abda0f;
    padding:2px;
    margin-left: 14px;
    font-weight:bold;
    font-size: 14px;
    font-weight:100;
}

form div {
    min-height: 25px;
}

.form-message {
	font-size: 10px;
	font-style: italic;
	color: red;	
}

select, input[type="text"], input[type="email"], 
input[type="password"], input[type="number"], input[type="tel"],
input[type="checkbox"] {
    border: 1px solid #E1E1E1;
    min-height: 20px;
    min-width: 200px;
    float: left;
}

input[type=radio] {
    margin-top:3px;
    width:auto;
}

textarea {
	border: 1px solid #E1E1E1;
	height:200px;
	min-width:100%;
	max-width:100%;
	min-height:80px;
	max-height:80px;
}

.button {
    background: #abda0f url(../img/overlay.png) repeat-x;
    padding: 8px 30px 8px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    font-size:18px;
    width:auto;
}

.button:hover {
    color: #abda0f;
    text-decoration: none;
}

.buttons {
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
}
